<div
  style="text-align: center; z-index: 2; border:rgba(11, 161, 49, 0.5) solid 3px; border-radius: 5px; background-color: rgba(255, 255, 255, 0.5); width: 35%;">
  <form action="/todos/{{ todo._id }}?_method=PUT" method="POST"
    style="padding-right: 8px; padding-left: 8px; width: 100%">
    <div class="input-group" style="width: 100%; margin-top: 8px">
      <div class="col-auto" style="width: 100%; text-align: start; vertical-align: middle;">
        <div
          style="display: inline-block; width: calc(35vw / 12.5); height: calc(35vw / 12.5); border-radius: 5px; border:rgb(206, 204, 204) solid 0.5px; background-color: rgb(206, 204, 204); text-align: center; vertical-align: middle;">
          <label for="isDone" style="width: 100%; height: 100%;">
            <input type="checkbox" class="form-check-input" name="isDone" id="isDone" style="margin: 25%;" {{#if
              todo.isDone}} checked {{/if}}>
          </label>
        </div>
        <div
          style="display: inline-block; width: calc(100% - (35vw / 12.5) - 8px); vertical-align: middle; text-align: center;">
          <label for="agendas" style="width: 100%;">
            <input class="form-control" type="text" placeholder="Agendas" name="agendas" id="agendas"
              value="{{ todo.agendas }}">
          </label>
        </div>
        {{#if warning}}
        <p style="color: crimson; text-align: start; font-weight: bold; margin-bottom: -3px;">
          {{warning.agendas}}</p>
        {{/if}}
      </div>
      <label for="content" style="width: 100%; margin-top: 8px;">
        <textarea class="form-control me-2" rows="6" cols="30" placeholder="Text something detail ..." name="content"
          id="content" style="width: 100%; padding-left: 5px; text-indent: 6px;">{{ todo.content }}</textarea>
      </label>
      {{#if warning}}
      <p style="color: crimson; text-align: start; font-weight: bold; margin-bottom: -3px;">{{warning.content}}</p>
      {{/if}}
      <div class="col-auto" style="width: 100%; margin-top: 8px; margin-bottom: 8px; text-align: end;">
        <a class="btn btn-warning" href="/todos">MainPage</a>
        <button class="btn btn-success" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>