{{#if users}}
<div style="text-align: center; z-index: 2; border-radius: 5px; background-color: rgba(255, 255, 255, 0.5);">
  <h2 style="margin-top: 10px;">Login</h2>
  <form action="#" method="post" style="padding-right: 8px; padding-left: 8px;">
    <input type="text" placeholder="Email" name="email"
      style="border-radius: 5px; width: 100%; margin-top: 8px; padding-left: 5px;">
    <input type="text" placeholder="password" name="password"
      style="border-radius: 5px; width: 100%; margin-top: 8px; padding-left: 5px;">
  </form>
  <div style="text-align: center; margin-top: 8px; margin-right: 8px; margin-left: 8px;">
    <button class="btn btn-secondary" style="display: block; margin: 0 auto; width: 100%;">Login</button>
  </div>
  <div class="d-flex flex-row justify-content-between"
    style="margin-top: 8px; margin-right: 8px; margin-left: 8px; margin-bottom: 8px;">
    <h6 style="display: flex; align-items: center;">No account yet? Sign up now!</h6>
    <a class="btn btn-secondary" href="/todos/register">Register</a>
  </div>
</div>

{{else}}
<div class="d-flex flex-row-reverse">
  <a class="btn btn-warning mb-2" href="/todos/new" style="color: black;">Create</a>
</div>
<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item bg-light">
    <div class="row">
      <div class="col-auto me-auto">
        <!-- 這邊是首頁要呈現的地方沒有要讓使用者可以直接勾選是否完成。因此加上disabled屬性，讓checkbox只能看不能勾選 -->
        <input style="vertical-align: middle; width: 20px; height: 20px;" type="checkbox" name="isDone" {{#if
          this.isDone}} checked {{/if}} disabled>
        <h4 class="ms-2" style="display: inline; vertical-align: middle;">{{this.name}}</h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-secondary" href="./todos/{{ this._id }}">Detail</a>
        <a class="btn btn-success" href="./todos/{{ this._id }}/edit">Edit</a>
        <form action="./todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
{{/if}}

{{!--
「_id」底線id是MongoDB自動為每一筆資料生成的唯一值，因此，雖然沒有在todo.js那個檔案中的Schema設定每一筆資料中應有id值，但_id是內建的，可以開Robo3T去看資料庫中每筆資料的_id值是多少(蠻長的，例如：5e9460ebe0174f4a734ce12a)。之後點擊Detail按鈕後，網址會變這樣：/todos/5e9460ebe0174f4a734ce12a。這是GET的特性。
--}}

{{!-- Delete用<form>是因為想用POST方法，<form>的method屬性可以指定用POST --}}